.header {
  background-color: $bg-color;
  padding: 20px 0;
  font-size: 18px;
  font-weight: 500;
}

.header__inner,
.header__menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__mobile {
  display: flex;
  justify-content: space-between;
}

.heder__logo {
  font-size: 25px;
  letter-spacing: 1px;
}

.logo__decor {
  font-size: 40px;
  color: pink;
}

.logo__decor {
  .logo__decor + & {
    color: rgb(235, 152, 0);
    font-size: 35px;
  }
}

.menu__item {
  .menu__item + & {
    margin-left: 25px;
  }
}

.menu__link,
.contacts__link {
  position: relative;
  padding-bottom: 5px;
  @extend %style-after;
  @extend %hover-link;
}

.header__inner {
  display: none;
}

@media screen and(min-width:$tablet) {
  .header__inner {
    display: flex;
  }
  .header__mobile {
    display: none;
  }
  .header__contacts {
    display: flex;
    flex-direction: column-reverse;
  }
}

@media screen and (min-width: 1200px) {
  .header__contacts {
    flex-direction: row;
  }
  .contacts__item + .contacts__item {
    margin-left: 10px;
  }
}
